# Right to Left

Дана последовательность строк. Вы должны объединить эти строки в блок текста, разделив изначальные строки запятыми. В качестве шутки над праворукими роботами, вы должны заменить все вхождения слова "right" на слова "left", даже если это часть другого слова. Все строки даны в нижнем регистре.

In [11]:
def left_join(phrases: tuple) -> str:
    """
    Join strings and replace "right" to "left"
    """
    return ','.join((x.replace('right', 'left') for x in phrases))

In [12]:
left_join(("bright aright", "ok"))

'bleft aleft,ok'

# First Word

Дана строка и нужно найти ее первое слово.

При решении задачи обратите внимание на следующие моменты:

В строке могут встречатся точки и запятые
Строка может начинаться с буквы или, к примеру, с пробела или точки
В слове может быть апостроф и он является частью слова
Весь текст может быть представлен только одним словом и все

In [67]:
import re
def first_word(text: str) -> str:
    """
    returns the first word in a given text.
    """    
    return re.findall(r'\w[a-zA-Z]*\'?\w?', text)[0]

In [70]:
first_word("... and so on ...")

'and'

# Days Between

Сколько вам лет в днях? Это легко вычислить - достаточно вычесть свой день рождения от сегодняшнего дня. Мы имеем реальную задачу - посчитать разницу между любыми датами.

У вас есть две даты в кортежах с тремя числами - год, месяц и день. Например, 19 апреля 1982 будет (1982, 4, 19). Вы должны найти разницу в днях между имеющимися датами. Например, между сегодня и вчера = 1 день. Разница между днями всегда будет положительной или нулем, не забывайте про абсолютное значение.

In [89]:
from datetime import date
def days_diff(a, b):
    return abs((date(*a) - date(*b)).days)

In [93]:
days_diff((1982, 4, 19), (1982, 4, 22)) == 3
days_diff((2014, 1, 1), (2014, 8, 27)) == 238

True

# Count Digits

Вам нужно подсчитать количество цифр в данной строке.

In [97]:
def count_digits(text: str) -> int:
    return sum([x.isdigit() for x in text])

In [98]:
count_digits('hi') == 0
count_digits('who is 1st here') == 1
count_digits('my numbers is 2') == 1
count_digits('This picture is an oil on canvas '
 'painting by Danish artist Anna '
 'Petersen between 1845 and 1910 year') == 8
count_digits('5 plus 6 is') == 2
count_digits('') == 0

True

# Backward Each Word

Требуется обратить порядок букв в каждом слове предоставленной строки, так чтобы слова остались на своих местах.

In [99]:
def backward_string_by_word(text: str) -> str:
    return ' '.join([x[::-1] for x in text.split(' ')])

In [100]:
backward_string_by_word('') == ''
backward_string_by_word('world') == 'dlrow'
backward_string_by_word('hello world') == 'olleh dlrow'
backward_string_by_word('hello   world') == 'olleh   dlrow'

True

# Bigger Price

Дана таблица всех доступных продуктов на складе. Данные представлены в виде списка словарей (a list of dicts)

Ваша миссия тут - это найти ТОП самых дорогих товаров. Количество товаров, которые мы ищем, будет передано в первом аргументе, а сами данные по товарам будут переданы вторым аргументом.

Вх. данные: Число и список словарей (int and list of dicts). Каждый словарь имеет 2 ключа "name" и "price".

Вых. данные: Такой же как и второй аргумент.

In [113]:
def bigger_price(limit: int, data: list) -> list:
    """
        TOP most expensive goods
    """   
    
    return sorted(data, key=lambda x: x['price'], reverse=True)[:limit]

In [114]:
bigger_price(2, [
    {"name": "bread", "price": 100},
    {"name": "wine", "price": 138},
    {"name": "meat", "price": 15},
    {"name": "water", "price": 1}
]) == [
    {"name": "wine", "price": 138},
    {"name": "bread", "price": 100}
]

bigger_price(1, [
    {"name": "pen", "price": 5},
    {"name": "whiteboard", "price": 170}
]) == [{"name": "whiteboard", "price": 170}]

True

# Non-unique Elements

Дан непустой массив целых чисел (X). В этой задаче вам нужно вернуть массив, состоящий только из неуникальных элементов данного массива. Для этого необходимо удалить все уникальные элементы (которые присутствуют в данном массиве только один раз). Для решения этой задачи не меняйте оригинальный порядок элементов. Пример: [1, 2, 3, 1, 3], где 1 и 3 неуникальные элементы и результат будет [1, 3, 1, 3].

In [152]:
import numpy as np
def checkio(data: list) -> list:    
    mask = [False if data.count(x)==1 else True for x in data]
    data = np.array(data)
    return data[mask]

In [153]:
checkio([1, 2, 3, 1, 3]) == [1, 3, 1, 3]
checkio([1, 2, 3, 4, 5]) == []
checkio([5, 5, 5, 5, 5]) == [5, 5, 5, 5, 5]
checkio([10, 9, 10, 10, 9, 8]) == [10, 9, 10, 10, 9]

array([ True,  True,  True,  True,  True])

In [154]:
def checkio(data:list) -> list:
    return [x for x in data if data.count(x) > 1]

In [155]:
checkio([1, 2, 3, 1, 3]) == [1, 3, 1, 3]
checkio([1, 2, 3, 4, 5]) == []
checkio([5, 5, 5, 5, 5]) == [5, 5, 5, 5, 5]
checkio([10, 9, 10, 10, 9, 8]) == [10, 9, 10, 10, 9]

True

# Popular Words

Ваша задача в этой миссии определить популярность определенных слов в тексте.

На вход вашей функции передается 2 аргумента. Текст и массив слов, популярность которых необходимо определить.

При решении этой задачи обратите внимание на следующие моменты

Слова необходимо искать во всеx регистрах. Т.е. если необходимо найти слово "one", значит для него будут подходить слова "one", "One", "oNe", "ONE" и.т.д.
Искомые слова всегда указаны в нижнем регистре
Если слово не найдено ни разу, то его необходимо вернуть в словаре со значением 0 (ноль)
Входные параметры: Текст и массив искомых слов.

Выходные параметры: Словарь, в котором ключами являются искомые слова и значениями то, сколько раз они встречаются в исходном тексте.

In [165]:
def popular_words(text: str, words: list) -> dict:
    d = dict.fromkeys(words, 0)
    for i in words:
        d[i] =  text.lower().split().count(i)  
    
    return    d

In [166]:
popular_words('''
When I was One
I had just begun
When I was Two
I was nearly new
''', ['i', 'was', 'three', 'near']) == {
    'i': 4,
    'was': 3,
    'three': 0,
    'near': 0
}

True

In [167]:
popular_words('''
When I was One
I had just begun
When I was Two
I was nearly new
''', ['i', 'was', 'three', 'near'])

{'i': 4, 'was': 3, 'three': 0, 'near': 0}

In [164]:
'When I was One I had just begun When I was Two I was nearly new'.split().count('near')

0

# Second Index

Даны 2 строки. Необходимо найти индекс второго вхождения второй строки в первую.

Разберем самый первый пример, когда необходимо найти второе вхождение "s" в слове "sims". Если бы нам надо было найти ее первое вхождение, то тут все просто: с помощью функции index или find мы можем узнать, что "s" – это самый первый символ в слове "sims", а значит индекс первого вхождения равен 0. Но нам необходимо найти вторую "s", а она 4-ая по счету. Значит индекс второго вхождения (и ответ на вопрос) равен 3.

In [55]:
def second_index(text: str, symbol: str) -> [int, None]:
    c = 0
    for i, s in enumerate(text):        
        if s==symbol:
            c += 1
        if c == 2 and s==symbol:
            return i
    return None

In [52]:
def second_index(text: str, symbol: str) -> [int, None]:
    try:
        return text.index(symbol, text.index(symbol) + 1)
    except:
        return None

In [56]:
second_index("sims", "s") == 3
second_index("find the river", "e") == 12
second_index("hi", " ") is None

True

In [57]:
second_index("three occurrences","r")

10

# Sort Array by Element Frequency


Отсортируйте данный итератор таким образом, чтобы его элементы оказались в порядке убывания частоты их появления, то есть по количеству раз, которое они появляются в элементах. Если два элемента имеют одинаковую частоту, они должны оказаться в том же порядке, в котором стояли изначально в итераторе.

In [102]:
from collections import Counter

In [115]:
def frequency_sort(items):
    counts = Counter(items)
    return sorted(items, key=lambda x: counts[x]  - items.index(x),reverse=True)

In [122]:
ь

In [123]:
# frequency_sort([4, 6, 2, 2, 6, 4, 4, 4]) == [4, 4, 4, 4, 6, 6, 2, 2]
frequency_sort(['bob', 'bob', 'carl', 'alex', 'bob']) == ['bob', 'bob', 'bob', 'carl', 'alex']

True

In [114]:
frequency_sort([4, 6, 2, 2, 6, 4, 4, 4])

[2, 2, 6, 6, 4, 4, 4, 4]

# Pawn Brotherhood
<img src='https://d17mnqrx9pmt3e.cloudfront.net/media/missions/media/aea94b197081464ca1748e4562b8fbae/pawns.png'>

In [217]:
def safe_pawns(pawns: set) -> int:
    pawns = tuple(zip((s[0] for s in pawns),(int(s[1]) for s in pawns)))
    c = 0
    for pawn in pawns:
        c += (chr(ord(pawn[0])+1), pawn[1]-1) in pawns or (chr(ord(pawn[0])-1), pawn[1]-1) in pawns
            
    return c

In [224]:
def safe_pawns(pawns: set) -> int:
    c = 0
    for pawn in pawns:
        p1 = chr(ord(pawn[0]) + 1) + str(int(pawn[1]) - 1)
        p2 = chr(ord(pawn[0]) - 1) + str(int(pawn[1]) - 1)
        c += p1 in pawns or p2 in pawns    
    return c

In [ ]:
safe_pawns({"b4", "d4", "f4", "c3", "e3", "g5", "d2"}) == 6
safe_pawns({"b4", "c4", "d4", "e4", "f4", "g4", "e5"}) == 1
safe_pawns(["b4","c4","d4","e4","f4","g4","e3"]) == 2

# Sun Angle

Ваша задача - определить угол солнца над горизонтом, зная время суток. Исходные данные: солнце встает на востоке в 6:00, что соответствует углу 0 градусов. В 12:00 солнце в зените, а значит угол = 90 градусов. В 18:00 солнце садится за горизонт и угол равен 180 градусов. В случае, если указано ночное время (раньше 6:00 или позже 18:00), функция должна вернуть фразу "I don't see the sun!".

<img src='https://d17mnqrx9pmt3e.cloudfront.net/media/missions/media/70b4ef56a4f948218c1c218f08f77063/sun.png'>

In [277]:
from typing import Union

def sun_angle(time: str) -> Union[int, str]:
    time = tuple((int(time.split(':')[0]), int(time.split(':')[1])))
    if time[0] < 6 or (time[0] >= 18 and time[1] > 0):
        return "I don't see the sun!"
    hour = 15
    m = 0.25
    return (time[0]-6)*hour+time[1]*m

In [278]:
sun_angle("07:00") == 15
sun_angle("12:15") == 93.75
sun_angle("01:23") == "I don't see the sun!"

True

In [280]:
sun_angle("18:00")

180.0

In [282]:
sun_angle("18:01")

"I don't see the sun!"